{% extends '../base.html' %}
{% load static %}

{% block title %}
    <title> Sign Up </title>
{% endblock title %}


{% block content %}

    {% include '../misc/navbar.html' %}

    <header class="min-h-screen bg-white w-full flex box-shadow justify-center py-20 bg-cover bg-no-repeat"
            style="background-image: url('{% static 'background_netflix.jpg' %}');">

        <div class="z-10 min-h-full w-50 flex items-center flex-col">
            <form method = 'POST' class="bg-black bg-opacity-70 py-8 px-4 w-8/12 rounded-md" >

                <h1 class="p-t text-4xl font-semibold text-center ">
                    Sign Up
                </h1>
                {% csrf_token %}

                {% if form.errors %}

                <div class = 'text-center my-4 text-primary_red'>
                {{ form.errors.email }}
                {{ form.errors.password1 }}
                {{ form.errors.password2 }}
                </div>

                {% endif %}

                {% if redirect_field_value %}
                    <input type= "hidden" name="{{ redirect_field_name}}" value="{{redirect_field_value}}"/>
                {% endif %}

                <div class="my-3 p-t flex justify-center items-center">
                    <input class="w-10/12 py-2 px-4 bg-gray-51 rounded-md outline-none" type="email" name="email" id="id_email" placeholder="Email">
                </div>

                <div class="my-3 p-t flex justify-center items-center">
                    <input class="w-10/12 py-2 px-4 bg-gray-51 rounded-md outline-none block" type="password" name="password1" id="id_password1" placeholder="Password">
                </div>

<!--                <div class="text-gray-140 ml-t my-3 p-t flex-col">-->
<!--                    <p>-->
<!--                        <ul class="text-sm">Password can’t be too similar to your other personal information.</ul>-->
<!--                        <ul class="text-sm">Password must contain at least 8 characters.</ul>-->
<!--                        <ul class="text-sm">Password can’t be a commonly used password.</ul>-->
<!--                        <ul class="text-sm">Password can’t be entirely numeric.</ul>-->
<!--                    </p>-->
<!--                </div>-->

                <div class="my-3 p-t flex justify-center items-center">
                    <input class="w-10/12 py-2 px-4 bg-gray-51 rounded-md outline-none block" type="password" name="password2" id="id_password2" placeholder="Confirm Password">
                </div>

                <div class="my-3 p-t flex justify-center items-center">
                    <button class="w-10/12 py-2 px-4 bg-primary_red text-gray-100 font-medium text-lg rounded-md">
                        Sign Up
                    </button>
                </div>

                <div class="p-t text-center text-gray-140 mt-4">
                    <p>
                        Already have an account ? <a href="{% url 'account_login' %}" class="text-white"> Sign In</a>
                    </p>
                </div>
            </form>
        </div>
    </header>
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
{% endblock content %}